<a href="https://colab.research.google.com/github/AgnieszkaBorys/data-science-bootcamp/blob/master/02_analiza_danych/05_appstore_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT BIBLIOTEK

In [1]:
import pandas as pd
pd.__version__

'1.0.3'

ZALADOWANIE DANYCH

In [2]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/appstore_games.csv'
df_raw = pd.read_csv(url)
df_raw.head()

                                                 URL  ...  Current Version Release Date
0   https://apps.apple.com/us/app/sudoku/id284921427  ...                    30/05/2017
1  https://apps.apple.com/us/app/reversi/id284926400  ...                    17/05/2018
2  https://apps.apple.com/us/app/morocco/id284946595  ...                     5/09/2017
3  https://apps.apple.com/us/app/sudoku-free/id28...  ...                    30/05/2017
4  https://apps.apple.com/us/app/senet-deluxe/id2...  ...                    22/07/2018

[5 rows x 18 columns]

WSTĘPNE PRZYGOTOWANIE DANYCH - PREPROCESSING

In [3]:
df_raw.columns

Index(['URL', 'ID', 'Name', 'Subtitle', 'Icon URL', 'Average User Rating',
       'User Rating Count', 'Price', 'In-app Purchases', 'Description',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [5]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17007 entries, 0 to 17006
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   URL                           17007 non-null  object
 1   ID                            17007 non-null  int64
 2   Name                          17007 non-null  object
 3   Subtitle                      5261 non-null   object
 4   Icon URL                      17007 non-null  object
 5   Average User Rating           7561 non-null   float64
 6   User Rating Count             7561 non-null   float64
 7   Price                         16983 non-null  float64
 8   In-app Purchases              7683 non-null   object
 9   Description                   17007 non-null  object
 10  Developer                     17007 non-null  object
 11  Age Rating                    17007 non-null  object
 12  Languages                     16947 non-null  object
 13  Size                          17006 non-null  float64
 14  Primary Genre                 17007 non-null  object
 15  Genres                        17007 non-null  object
 16  Original Release Date         17007 non-null  object
 17  Current Version Release Date  17007 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 2.3+ MB

In [6]:
df = df.drop(columns=['URL', 'Icon URL', 'Subtitle', 'Description', 'In-app Purchases'])
df.head()

          ID           Name  ...  Original Release Date  Current Version Release Date
0  284921427         Sudoku  ...             11/07/2008                    30/05/2017
1  284926400        Reversi  ...             11/07/2008                    17/05/2018
2  284946595        Morocco  ...             11/07/2008                     5/09/2017
3  285755462  Sudoku (Free)  ...             23/07/2008                    30/05/2017
4  285831220   Senet Deluxe  ...             18/07/2008                    22/07/2018

[5 rows x 13 columns]

In [7]:
df = df.set_index('ID')
df.head()

                    Name  ...  Current Version Release Date
ID                        ...
284921427         Sudoku  ...                    30/05/2017
284926400        Reversi  ...                    17/05/2018
284946595        Morocco  ...                     5/09/2017
285755462  Sudoku (Free)  ...                    30/05/2017
285831220   Senet Deluxe  ...                    22/07/2018

[5 rows x 12 columns]

In [9]:
df.describe().T

                       count          mean  ...          75%           max
Average User Rating   7561.0  4.060905e+00  ...          4.5  5.000000e+00
User Rating Count     7561.0  3.306531e+03  ...        309.0  3.032734e+06
Price                16983.0  8.134187e-01  ...          0.0  1.799900e+02
Size                 17006.0  1.157064e+08  ...  133027072.0  4.005591e+09

[4 rows x 8 columns]

In [10]:
df.describe(include = ['object']).T

                              count  ...   freq
Name                          17007  ...      2
Developer                     17007  ...    123
Age Rating                    17007  ...  11806
Languages                     16947  ...  12467
Primary Genre                 17007  ...  16286
Genres                        17007  ...    778
Original Release Date         17007  ...     75
Current Version Release Date  17007  ...    118

[8 rows x 4 columns]

In [11]:
df.columns

Index(['Name', 'Average User Rating', 'User Rating Count', 'Price',
       'Developer', 'Age Rating', 'Languages', 'Size', 'Primary Genre',
       'Genres', 'Original Release Date', 'Current Version Release Date'],
      dtype='object')

In [12]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.head()

                    name  ...  current_version_release_date
ID                        ...
284921427         Sudoku  ...                    30/05/2017
284926400        Reversi  ...                    17/05/2018
284946595        Morocco  ...                     5/09/2017
285755462  Sudoku (Free)  ...                    30/05/2017
285831220   Senet Deluxe  ...                    22/07/2018

[5 rows x 12 columns]

In [13]:
df.average_user_rating

ID
284921427     4.0
284926400     3.5
284946595     3.0
285755462     3.5
285831220     3.5
             ...
1474626442    NaN
1474919257    NaN
1474962324    NaN
1474963671    NaN
1475076711    NaN
Name: average_user_rating, Length: 17007, dtype: float64

JAK ZBADAĆ ROZKŁĄD ZMIENNEJ